.selected {
  display: flex;
  color: #64d5c9;
  margin-bottom: 1.3rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.10);
  border-radius: 0.5rem;
  padding: 0.3rem;
}

.unselected {
  display: flex;
  margin-bottom: 1.3rem;
  border: solid 1px #d3d3d3;
  border-radius: 0.5rem;
  padding: 0.3rem;
}

.btn-selected {
  color: #64d5c9;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.btn-unselected {
  font-size: 0.7rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.count-unselected {
  background-color: transparent;
  font-size: 0.7rem;
  height: 1rem;
  width: 1rem;
  margin-top: 1px;
  border: solid 1px gray;
  border-radius: 4px;
  text-align: center;
  padding: 0;
}

.count-selected {
  color: #64d5c9;
  background-color: transparent;
  font-size: 0.7rem;
  height: 1rem;
  width: 1rem;
  margin-top: 1px;
  border: solid 1px #64d5c9;
  border-radius: 4px;
  text-align: center;
  padding: 0;
}

.name {
  margin-left: 3%;
  text-align: center;
  /* line-height: 16px; */
}

li:last-child {
  margin-bottom: 0;
}
